<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciamento DietPi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
    <div class="container">
        <div class="botoesHorizontal">
            <h1>Gerenciamento do Servidor DietPi</h1>
            <form action="/desligar" method="post">
                <button type="submit">Desligar</button>
            </form>
            <form action="/reiniciar" method="post">
                <button type="submit">Reiniciar</button>
            </form>

            <button type="button" onclick="Abre(8112)">Abrir Deluge</button>
            <button type="button" onclick="Abre(5252)">Abrir DietPi</button>



            <button type="button" onclick="window.location.href='/downloads'">Baixar HTTPS</button>
            <button type="button" onclick="window.location.href='/torrent'">Baixar Torrent</button>


        </div>
    </div>
    <script>
        function Abre(porta) {
            // Obtém o hostname (domínio ou IP) do servidor atual
            const servidor = window.location.hostname;

            // Construa a URL com a porta fornecida
            const url = `http://${servidor}:${porta}/`;

            // Abra a URL em uma nova aba
            window.open(url, '_blank');
        }

    </script>
</body>

</html>